[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
remote_user = pasheps
private_key_file = ~/.ssh/id_ed25519
vault_password_file = ~/.vault_pass.txt

[privilege_escalation]
become = True
become_method = sudo
